version: '3.8'
services:
  elasticsearch:
    image: elasticsearch:8.4.3
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    networks:
      - elk

  logstash:
    image: logstash:8.4.3
    container_name: logstash
    volumes:
      - ./config:/usr/share/logstash/config
      - ./config/pipeline:/usr/share/logstash/pipeline
    ports:
      - "5044:5044"
      - "5959:5959"
    depends_on:
      - elasticsearch
    networks:
      - elk

  kibana:
    image: kibana:8.4.3
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - elk

networks:
  elk:
    driver: bridge